body {
  height: 100vh;
  background-image: url('https://img.gta5-mods.com/q95/images/gta-v-remastered-enhanced/d00dc4-Screenshot_113420.jpg');
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-screen {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5);  */
}

.controls-ui {
  display: flex;
  position: fixed;
  background-color: #0f0f0fc5;
  border-radius: 6px;
  padding: 10px 16px;
  width: 400px;
  height: 30px;
  right: 1%;
  bottom: 1%;
}

.use-gas {
  display: flex;
  width: 10%;
}

.use-gas button {
  display: flex;
  flex-direction: column;
  padding: 8px 10px 5px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 4px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
}

.use-gas p {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 4px 0 0 6px;
  height: 100%;
  color: #DFDEDF;
}

.store-gas {
  display: flex;
  width: 10%;
  margin-left: 50px;
}

.store-gas button {
  display: flex;
  flex-direction: column;
  padding: 8px 10px 5px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 4px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
}

.store-gas p {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 4px 0 0 6px;
  height: 100%;
  color: #DFDEDF;
}

.gas-left {
  width: 200px;
  margin: 8px 0 0 70px;
}
